/** this files holds code to customize the footer **/
/** simply change the line in 'content' to match your
  usecase **/



  /**from https://github.com/yihui/xaringan/issues/34**/
.remark-slide-content:after {
    content: "Author | Occasion, Date";
    position: fixed;
    font-size: .6rem;
    bottom: 8px;
    left: 50px;
    right: 25px;
    border-top: .5px solid var(--text-color);
    margin: 0px;
    padding: 5px;
}
